
body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: cyan;
  font-family: Cooper Black, sans-serif;

}

.calculator {
  background: BLACK;
  padding: 20px;
  border-radius: 30px;
  width: 300px;
}

#display {
  width: 100%;
  height: 50px;
  margin-bottom: 12px;
  font-size: 22px;
  text-align: right;
  padding: 10px 40px;
  box-sizing: border-box;
  color:red;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
button {
  height: 50px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.number {
  background: whitesmoke;
}

.operator {
  background: blue;
  color: white;
}

.equal {
  background: darkred;
  color: white;
}

.clear {
  background: red;
  color: white;
}
 h2 {
	text-align: center;
            color:red;
            margin-bottom: 40px;
        }
